---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="de-CH">
	<head>
		<BaseHead title={SITE_TITLE} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Freiwillingenarbeit</h1>
			<p>Diese Seite befindet sich im Aufbau.</p>
		</main>
		<Footer />
	</body>
</html>
