---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
---

<!doctype html>
<html lang="fr-CH">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Jonas Flückiger</h1>
			<p>Cette page est en cours de construction.</p>
		<Footer />
	</body>
</html>
