---
import { getCollection } from "astro:content";
import BaseHead from "../../../components/BaseHead.astro";
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import { SITE_TITLE } from "../../../consts";
import { LANGUAGES } from "../../../i18n/ui";
import type { GetStaticPaths } from "astro";
import PostCard from "../../../components/PostCard.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { toBCP47 } from "../../../i18n/utils";

export const getStaticPaths = (() => {
	const availableLocales = Object.keys(LANGUAGES) as [keyof typeof LANGUAGES];
	return availableLocales.map((locale) => ({
		params: { locale },
	}));
}) satisfies GetStaticPaths;

const { locale } = Astro.params;
const posts = (
	await getCollection("posts", (post) => post.data.locale === locale)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang={toBCP47(locale)}>
	<head>
		<BaseHead title={SITE_TITLE} />
		<style>
			ul {
				padding: 0;
				margin: 0;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-auto-flow: row dense;
				gap: 1rem;
			}
			ul li {
				text-decoration: none;
				list-style: none;
				height: 100%;
			}
			ul li:first-child {
				grid-column: 1 / -1;
			}
			@media (max-width: 720px) {
				ul {
					grid-template-columns: 1fr;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<PostCard id={post.id} {...post.data} />
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
