---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLocaleFromUrl, useTranslations } from "../i18n/utils";

const today = new Date();
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<footer>
	<div class="flex-container">
		<h2>JF</h2>
		<div>
			&copy; {today.getFullYear()} Jonas Flückiger. {t("footer.rights")}.
		</div>
	</div>
	<div class="flex-container">
		<a href={getRelativeLocaleUrl(locale, "")}>{t("nav.home")}</a>
		<a href={getRelativeLocaleUrl(locale, "posts")}>{t("nav.posts")}</a>
		<a href={getRelativeLocaleUrl(locale, "projects")}>
			{t("nav.projects")}
		</a>
		<a href={getRelativeLocaleUrl(locale, "education")}>
			{t("nav.education")}
		</a>
		<a href={getRelativeLocaleUrl(locale, "volunteering")}>
			{t("nav.volunteering")}
		</a>
		<hr />
		<a href="mailto:contact@jonas-flueckiger.ch" target="_blank">Email</a>
		<a href="https://github.com/joflucki" target="_blank">Github</a>
		<a href="https://linkedin.com/in/jonas-flückiger" target="_blank">
			LinkedIn
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 3em;
		background: #020202;
		border-top: 1px solid var(--gray-dark);
		display: flex;
		justify-content: space-between;
		gap: 1em;
	}
	.flex-container {
		display: flex;
		flex-direction: column;
	}

	.flex-container:nth-child(1) {
		justify-content: space-between;
	}
	footer a {
		text-decoration: none;
		color: var(--white);
	}
	footer hr {
		width: 100%;
		border: 1px solid var(--gray-dark);
	}
</style>
