---
type Props = {
    tag: string;
};
const { tag } = Astro.props;
---

<div class="tag">{tag}</div>
<style>
    .tag {
        font-size: 0.8em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0.1em 0.75em;
        border-radius: 100px;
        border: 1px solid var(--gray-light);
    }
</style>
