name: Deploy

on:
  push:
    branches: ["master"]

permissions:
  contents: read
  deployments: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install Deno
      - name: Setup Deno
        uses: denoland/setup-deno@v2.0.3
        with:
          deno-version: v2.5.6

      # Install Astro
      - name: Install Astro
        run: deno install -A -f npm:astro


      # Build website
      - name: Build static files
        run: deno task build

      # Create a GitHub deployment
      - name: Create Deployment
        id: deployment
        uses: actions/github-script@v7
        with:
          script: |
            const deployment = await github.rest.repos.createDeployment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.ref,
              required_contexts: [],
              auto_merge: false,
              environment: "production",
            });
            core.setOutput("deployment_id", deployment.data.id);

      # Configure SSH for rsync
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H "${{ secrets.SSH_HOST }}" >> ~/.ssh/known_hosts

      # Deploy using rsync
      - name: Sync files to server
        run: |
          rsync -avz --delete \
            dist/ \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:${{ secrets.SSH_TARGET_DIR }}

      # Mark deployment as successful
      - name: Mark Deployment Success
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              deployment_id: "${{ steps.deployment.outputs.deployment_id }}",
              state: "success",
              environment_url: "https://${{ secrets.SSH_HOST }}/"
            });
